body {
    margin: 0px 0px;
}

.header img {
    position: relative;
    right: 100% !important;
}


.container {
    touch-action: none;
    background-image: url('images/Cave-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: -1px 0px;
}


#escape-button {
    width: 30%;
    position: fixed;
    bottom: 160px;
    left: 35%;
}

.animation {
    width: 70%;
    margin-top: 50%;
    margin-left: 12%;
}

#back {
    display: none;
    width: 100px;
    height: 40px;
    color: #FFFF;
    background-color: #F04E37;
    border: none;
}

#cell {
    position: absolute;
    /* Niet aanraken */
    top: 180px;
    width: 70%;
    left: 15%;
    margin-top: 25%;
}

#mouse {
    position: absolute;
    /* Niet aanraken */
    top: 25%;
    width: 70%;
    left: 16%;
    margin-top: 25%;
}