html,
body {
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    overscroll-behavior: none;
}



.header_text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 60px;
}


.cat {
    margin-top: 100px;
}

.cat img {
    width: 100%;
}

.logo img {
    margin-top: 5px;
    width: 15%;
    margin-left: 2%;
}

#replay {
    width: 100px;
    height: 40px;
    color: #FFFF;
    background-color: #F04E37;
    border: none;
    margin-top: 70px;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rotated {
    width: 100%;
}