html,
body {
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    overscroll-behavior: none;
}

.logo img {
    margin-top: 5px;
    width: 5%;
    margin-left: 2%;
}

.header_text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 0px;
}

.cat {
    margin-top: 90px;
}

.container {
    margin-top: -50px;
    margin-left: 50px;
    width: 90%;
}

#return{
    width: 200px;
    height: 80px;
    color: #FFFF;
    background-color: #F04E37;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: -105px;
}

a {
    text-decoration: none;
}

#gif {
    display: none;
}

.button {
    position: fixed;
    top:  650px;
    left: 42%;
}


#rotated {
    width: 60%;
    margin-left: 20%;
    margin-top: -8%;
}