html,
body {
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    overscroll-behavior: none;
}

#escape-button {
    border: 6px solid black;
    display: block;
    background-color: #FF0000;
    width: 15%;
    height: 55px;
    position: relative;
    line-height: 5%;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    margin-top: 150%;
    margin-left: 42%;
}


#back-button {
    display: none;
}

#cell {
    position: absolute;
    /* Niet aanraken */
    top: 200px;
    width: 70%;
    left: 15%;
}

#mouse {
    position: absolute;
    /* Niet aanraken */
    top: 25%;
    width: 70%;
    left: 16%;
    z-index: -1;
}