body {
    margin: 0px 0px;
}


.container {
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    overscroll-behavior: none;
    background-image: url("./images/Cave-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content;
    height: 100vh;
}

#escape-button {
    border: 6px solid black;
    display: block;
    background-color: #FF0000;
    width: 20%;
    height: 65px;
    position: relative;
    line-height: 5%;
    border-radius: 50%;
    box-shadow: 0px 0px 0px #aaa, inset 2px 0px 0px #fff;
    margin-top: 150%;
    margin-left: 42%;
}

#back-button {
    display: none;
}

#cell {
    position: absolute;
    /* Niet aanraken */
    top: 200px;
    width: 70%;
    left: 15%;
}

#mouse {
    position: absolute;
    /* Niet aanraken */
    top: 25%;
    width: 70%;
    left: 16%;
}