@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;

}

.header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.header img {
    height: 44px;
}

.datum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background-color: #F04E37;
    margin-left: 30px;
    padding: 5px 10px;
    width: 120px;
    color: white;
    font-size: 12px;
}

.datum img {
    height: 20px;
}

.container {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

.open-btn {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 2.5rem;
    cursor: pointer;
}

.popup {
    position: absolute;
    width: 100%;
    height: 730px;
    display: none;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    margin-top: -400px;
    z-index: 10000;
}



.popup-overlay {
    width: 100%;
    position: absolute;
}

.main-popup {
    position: absolute;
    left: 0;
    height: 48%;
    width: 100%;
    z-index: 0;
    background: whitesmoke;
    padding: 30px 20px;
    line-height: 1rem;
    justify-content: center;
    transform: translateX(-100%);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.close-btn {
    padding: 10px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: .5s ease all;
}

#btn_gaan {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #F04E37;
    border: 0px;
    color: white;
}

.close-btn:hover {
    background: white;
}

.popup-content h2 {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

.popup-content p {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

@keyframes slide-in {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-out {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100%);
    }
}

.info {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 12px;
}

.info_wall p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info_photobooth p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info img {
    width: 25px;
}

.installaties {
    margin-bottom: 25px;
    font-size: 12px;
}

.like-go {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 0 10px;
}

.go {
    margin-left: 40%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.btn {
    width: 20px;
}