@import url('https://fonts.cdnfonts.com/css/avenir-next-lt-pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F5F5;
}

.image_1 img {
    width: 100%;
}

.bottom>img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    animation: identifier 1.5s ease infinite;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom p {
    margin-top: 100px;
}

.bottom h1 {
    margin-top: -2px;
    font-size: 20px;
}

@keyframes identifier {
    100% {
        transform: rotate(360deg);
    }
}

.filter {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid #F04E37;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.filter img {
    width: 80%;
}

#jef img {
    width: 100%;
    justify-content: center;

}

#jef {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 2px solid #F04E37;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#wc img {
    width: 100%;
    justify-content: center;
}

#wc {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid #F04E37;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.logo img {
    width: 40%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swal2-container.swal2-top-end>.swal2-popup,
.swal2-container.swal2-top-right>.swal2-popup {
    margin-top: 40%;
}