@import url('https://fonts.cdnfonts.com/css/avenir-next-lt-pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.image_1 img {
    width: 380px;
}

.bottom>img {
    margin-top: 20px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    animation: identifier 1.5s ease-in-out infinite;

}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom p {
    margin-top: 140px;
}

.bottom h1 {
    margin-top: -2px;
}

@keyframes identifier {
    100% {
        transform: rotate(360deg);
    }
}